h1 {
  text-align: center;
}

.container {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
}

#qrCode {
  margin: 20px auto;
  display: flex;
}

input{
  height: 30px;
  width: 300px;
  margin: 0 auto;
  display: flex;
}
button {
  margin: 0 auto;
  display: flex;
}